@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  background-color: #fdfdfdab;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.block__row {
  margin: auto;
  /* background-color: white; */
  font-size: 12px;
  font-family: Roboto, sans-serif;
}

@media (max-width: 993px) {
  .block__row {
    width: 90%;
  }
}

@media (min-width: 993px) {
  .block__row {
    width: 50%;
  }
}

.block__row {
  display: flex;
  flex-direction: column;
}

.block__column {
  padding: 15px;
  margin: 5px;
  border-radius: 5px;
}

.about__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  /* flex-basis: 50%;
  flex-grow: 1;
  flex-shrink: 0; */
  flex: 1 0 50%;
}

.avatar {
  width: 200px;
  border-radius: 5px;
  box-shadow: 4px -4px 15px gray;
}
